<!--start About Us-->
  <div class="about-us">
      <div class="text">
          <h2>Discover</h2>
          <h3>Our Story</h3>
          <div><i class="fas fa-asterisk"></i></div>
          <p>Imarisha Sacco Society Ltd is one of Kenya's leading savings and credit cooperatives offering financial services to its members. The Sacco was first registered in 1978 as a teachers' Sacco but has since opened its doors to all professionals and entrepreneurs from all walks of life.</p>
          <div><a class="a-CTA" href="#">About Imarish Sacco</a></div>
      </div>
      <div class="image-container">
          <div class="image image1"></div>
          <div class="image image2">
              <img src="{{url_for('static', filename = 'images/sacco500.jpg')}}" alt="Sacco Photo">
          </div>
      </div>
  </div>
  <!--End About Us-->