 <!--Start Header-->
  <header>
      <nav>
          <div class="logo">
              <a href="{{ url_for('chatbot') }}"><img src="static/images/logo.jpeg" alt="Imarisha Logo"></a>
          </div>
          <div class="toggle">
              <span class="first"></span>
              <span class="middle"></span>
              <span class="last"></span>
          </div>
          <div class="navigation-bar">
              <ul>
                  {% if current_user.is_authenticated %}
                      <li class="active"><a href="{{ url_for('chatbot') }}">Home<span class="underline"></span></a></li>
                      <li><a href="">AboutUs<span class="underline"></span></a></li>
                      <li><a href="{{ url_for('user', username=current_user.username) }}">Profile<span class="underline"></span></a></li>
                      <li><a href="{{ url_for('logout') }}">Logout<span class="underline"></span></a></li>
                  {% else %}
                       <li><a href=" {{ url_for('login') }} ">Login<span class="underline"></span></a></li>
                  {% endif %}
              </ul>
          </div>
      </nav>
      <div class="text">
          <h2 style="color:#fff">Welcome</h2>
          <h1>IMARISHA BOT</h1>
          <div class="arrow">
              <span class="left"></span>
              <i class="fas fa-asterisk" style="color:#fff"></i>
              <span class="right"></span>
          </div>
      </div>
      <svg class="svg-down" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="currentColor" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
      <div class="arrow-down">
      </div>
  </header>
  <!--End Header-->